html {
    height: 98%;
}

body {
    height: 98%;
    display: flex;
}

.left {
    width: 30%;
    height: 100%;
}

.right {
    width: 70%;
    height: 100%;
}

.input {
    margin: 0px;
    margin-left: 30px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 20%;
}

.input>.status {
    display: flex;
    height: 50%;
}

.input>.status>* {
    font-size: x-large;
    margin-top: 5%;
    margin-bottom: 5%;
}

.input>.status>#state {
    width: 180px;
}

.input>.form {
    margin-top: 2%;
    margin-bottom: 2%;
}

.input>.status>#time {
    width: 50px;
    font-weight: bold;
}

.input>.form>#timeInput {
    width: 50px;
    text-align: right;
}

.log {
    margin: 0px;
    padding: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
    height: 70%;
}

.log>.list {
    border: 2px black solid;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.log>.list>p {
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
}

.log>.list>p>div {
    margin-left: 5px;
}

.main {
    border: 0px;
    width: 100%;
    height: 100%;
}

.main>#camera {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translateY(-50%) translateX(-50%);
    width: 50%;
}